<% provide(:title, 'Make Advertisement') %>
<h1>Make Advertisement</h1>

<div class="row">
  <div class="span6 offset3">
    <section>
        <%= render 'advertisements/advertisement_form' %>
    </section>
  </div>
</div>